[2015-08-19 05:22] nkhare opened #5 "Add feature to tear down a setup with given config file"
For testing it is important to the setup the environment quickly.  Sometimes we would like to tear down the setup and set it up again. In such cases having a feature to team down the setup with given config file would be handy.

[2015-08-19 07:23] nandajavarma commented on #5
This feature can be added in the next release.
Right now this can be done in a hard way as follows:
say, your conig file is named gluster.conf
Run from the root of source repo:

`python glusterlib/playbook_gen.py gluster.conf`

This creates the host_vars/group_vars files, move playbooks to places where ansible can find it.

Then run:

`ansible-playbook -i /tmp/playbooks/ansible_hosts templates/fac

[2015-08-20 09:49] shekharberry opened #8 "Thin pool calculation is wrong"
While creating the thin volume with 9 TB disk, we are getting configuration like following

[code]
above means that we have ~9TB virtual size and actual size of pool is 16GB on disk.

We should see something like following:-

[code]
 Where both virtual and pool size matches.

[2015-08-20 11:22] nandajavarma commented on #8
This issue has been fixed in the commit: e2c4e73ae94ba3685ff66597952a19c4f4993b2f

[2015-08-20 11:24] #8 closed

[2015-09-09 12:02] shekharberry opened #12 "Can we have an option in config file to specify interface using which we want to create gluster volume?"
As of now gluster volume is being created using hostname specified under [hosts]. But there can be a scenario (like in the case of geo-rep) where we want to access hosts using names specified under [hosts] but want to create gluster volume using different interface.
For example using gdeploy we craeted and got this:
[code]
In the above example the Bricks are coming from 1Gige interface defined und

[2015-09-09 12:09] nandajavarma commented on #5
This feature is not supported right now. Will be rolled in with the next release.

[2016-02-23 12:28] nandajavarma commented on #5
This feature is now available in gdeploy. https://github.com/gluster/gdeploy/blob/master/examples/gluster.conf.sample#L298

[2016-02-23 12:28] #5 closed

[2016-03-28 10:46] mykaul opened #48 "Install.MD is missing information on needed packages"
At least on CentOS, to complete the pip install requirements, one needs to install both gcc and python-devel

'yum install -y gcc python-devel' works.

[2016-03-28 12:09] mykaul opened #49 "gdeploy does not have a logging to file option"
When you are automatically using gdeploy, it should be able to put its logs (stdout/stderr) to a log file.
Today you can enable '-vv' but not a file where to output this for post inspection.

[2016-03-28 16:00] nandajavarma commented on #48
@mykaul Thank you for reporting this. I will update the installation guide ASAP to reflect this requirement.

[2016-03-28 18:28] mykaul opened #50 "package_installs.conf contains internal Red Hat repositories"
Example: http://jenkins.lab.eng.blr.redhat.com/rhsc/hc/ ...

[2016-03-29 17:55] nandajavarma commented on #48
@mykaul As these packages are usually present in development environments (and assuming that the forks will be made for development environments) this dependency was taken for granted.
I have updated the INSTALL.md in this commit: https://github.com/gluster/gdeploy/commit/efdc7b38375dc65ae2bb4818963df0132ef203a5
Thanks again for reporting.

[2016-03-29 17:55] #48 closed

[2016-03-29 17:56] nandajavarma commented on #49
This requirement can be addressed in the next release. Thanks for reporting.

[2016-03-29 18:00] nandajavarma commented on #50
This file got included in the repo by mistake. I have removed the file in https://github.com/gluster/gdeploy/commit/085f7c6690fb656663e7e01996c278c627bae58b. Thanks for noticing and reporting.

[2016-04-02 19:24] mykaul opened #53 "lvm2 is not mentioned as a prerequisite"
gdeploy fails if lvm2 is not installed on the hosts (pvcreate fails)

[2016-04-03 07:17] mykaul opened #54 "firewalld has to be started for gdeploy to succeed"
It's not mentioned anywhere in the documentation and gdeploy does not ensure firewalld is up and running. If it isn't, gdeploy fails.

[2016-04-03 18:57] mykaul opened #55 "gdeploy creates a lot of empty repos"
Using branch 2.0:

ls -l /etc/yum.repos.d/ |less

rw-r--r--. 1 root root    0 Apr  3 14:34 _
-rw-r--r--. 1 root root    0 Apr  3 14:34 -
-rw-r--r--. 1 root root    0 Apr  3 14:34 :
-rw-r--r--. 1 root root    0 Apr  3 14:34 4
-rw-r--r--. 1 root root   43 Apr  3 14:34 4.repo
-rw-r--r--. 1 root root    0 Apr  3 14:34 6
-rw-r--r--. 1 root root   43 Apr  3 14:34 6.repo
-rw-r--r--. 1 root root    0 Apr

[2016-04-03 19:10] mykaul opened #56 "Gluster is stopped 4 times during gdeploy"
Surely there's a more efficient way to deploy Gluster:

[root@lago_basic_suite_hc_host0 ~]# grep "Stopped GlusterFS" /var/log/messages
Apr  3 14:42:40 lago_basic_suite_hc_host0 systemd: Stopped GlusterFS, a clustered file-system server.
Apr  3 14:42:58 lago_basic_suite_hc_host0 systemd: Stopped GlusterFS, a clustered file-system server.
Apr  3 14:43:20 lago_basic_suite_hc_host0 systemd: Stopped Gl

[2016-04-04 04:59] nandajavarma commented on #55
The above commit fixes the issue.

[2016-04-04 04:59] #55 closed

[2016-04-04 05:32] nandajavarma commented on #56
The above commits fixes the issue.

[2016-04-04 05:32] #56 closed

[2016-04-04 10:35] mykaul commented on #55
@nandajavarma this is not fixed - just tested with 3e48fbed4d8cd0d2329f0d57461424ab191fcb62 (2.0 branch) - still seeing all those dirs.

[2016-04-04 10:42] sac-urs commented on #54
Yaniv, we will document that firewalld should be enabled in the config using the [service] configuration.

[2016-04-04 10:46] sac-urs commented on #53
I will add this as a dependency in the spec file.

[2016-04-04 10:57] nandajavarma commented on #55
@mykaul Please provide the configuration file for us to reproduce.

[2016-04-04 10:59] mykaul commented on #55
Note that my script, before running, converts the hosts to IPs, otherwise things don't work:

[hosts]
lago_basic_suite_hc_host0
lago_basic_suite_hc_host1
lago_basic_suite_hc_host2

[backend-setup]
devices=/dev/vdb,/dev/vdc,/dev/vdd
mountpoints=/mnt/engine,/mnt/vmstore,/mnt/data

[yum]
action=install
gpgcheck=no
repos=http://download.gluster.org/pub/gluster/glusterfs/nightly/glusterfs/epel-7-x86_64

[2016-04-04 11:23] nandajavarma commented on #55
Thanks a lot for this report. Adding repos using 'yum' was one feature that was not extensively tested. Hope the current patch (https://github.com/gluster/gdeploy/commit/44251a88b94b265ce2142890febd0dac4cf0f2cc)  fixes it.

[2016-04-05 06:50] mykaul opened #57 "gdeploy always exits with return code 0 - even if it fails"
Even if gdeploy fails, it seems like the return code for it is zero.

[2016-04-05 07:01] mykaul opened #58 "lv creation fails"
Regression:
PLAY [gluster_servers] ********************************************************

TASK: [Create logical volume named metadata] **********************************
<192.168.200.2> REMOTE_MODULE lv action=create lvname=metadata compute=rhs lvtype='thick' snapshot_reserve="0" vgname=GLUSTER_vg1
failed: [192.168.200.2] => (item=GLUSTER_vg1) => {"failed": true, "item": "GLUSTER_vg1"}
msg:   -

[2016-04-05 09:36] nandajavarma commented on #57
gdeploy works in two steps:
1. Parsing the user configuration and creating some variable files.
2. Giving control over to ansible-playbook by passing corresponding playbook.
The control of the first part is upto us, where as once it is passed on to ansible, getting the return value to the gdeploy framework is impossible.  The zero return code is the return value of the gdeploy framework itself whe

[2016-04-05 09:36] #57 closed

[2016-04-05 09:38] nandajavarma commented on #54
@gluster-deploy As the work-around suggested by you seems satisfactory, shall I close this bug?

[2016-04-05 09:38] nandajavarma commented on #53
@gluster-deploy Similar to the firewalld bug, shall I close this?

[2016-04-05 09:40] nandajavarma commented on #58
Can I have the configuration file, please?

[2016-04-05 09:44] mykaul commented on #58
# Configuration file for setting up ROBO

[hosts]
lago_basic_suite_hc_host0
lago_basic_suite_hc_host1
lago_basic_suite_hc_host2

[backend-setup]
devices=/dev/vdb,/dev/vdc,/dev/vdd
mountpoints=/mnt/engine,/mnt/vmstore,/mnt/data

[yum]
action=install
gpgcheck=no
repos=http://download.gluster.org/pub/gluster/glusterfs/nightly/glusterfs/epel-7-x86_64
packages=vdsm,vdsm-gluster,ovirt-hosted-engine-setu

[2016-04-14 12:26] satheesaran commented on #12
This requirement comes as part of multiple network interface support in gluster. This feature is also sometimes referred as 'Network Seggregation', where management traffic happens via one network ( probably lesser bandwidth ) & data traffic movement happens with other network.

So in this case, the host has multiple hostnames or IP ( identifier ) per interface and typically to form a trusted stor

[2016-04-14 12:40] satheesaran commented on #54
@nandajavarma - I would recommend closing this issue once the documentation that firewalld should be enabled in config is available

[2016-04-15 09:47] satheesaran opened #61 "conf file should take as selinux is enabled for CentOS/RHEL/Fedora"
As of now, the configuration file assumes that selinux is disabled by default and doesn't provides selinux labels for the bricks by default.

It would be highly recommended that selinux is always enabled.
gdeploy should go with the default value of selinux as enabled

[2016-04-20 06:45] satheesaran opened #62 "update_file should also provide 'delete_file' and 'delete_line'"
update_file provides options to copy, edit, add.
delete a file and deleting a line in a file would also be helpful

[2016-05-09 12:14] sac commented on #50
This is a regression. Will fix it.

[2016-05-09 12:21] mykaul opened #70 "python-setuptools is needed - missing from INSTALL.md"
Similar to #48 .

[2016-05-09 13:20] sac commented on #50
Fixed in the commit  [d7abb2a](https://github.com/gluster/gdeploy/commit/d7abb2aaa6f708253c016ccb76f4d60145982c61)

[2016-06-01 05:14] sabose opened #89 "add vol option "locking-scheme granular" to sample hc.conf"
locking-scheme=granular to be added to standard volume options in the sample file  gdeploy/examples/hc.conf

[2016-06-01 06:11] sac-urs commented on #89
Sahina, Nandaja merged this change to master. I'm not sure if we can push this to 2.0.
Will this qualify as a blocker?

[2016-06-02 12:52] kasturinarra opened #93 "shd-max-threads=8 to be added to standard volume options in the sample file gdeploy/examples/hc.conf"
could you please add this option

[2016-06-03 05:54] sac commented on #93
Kasturi I've added this in sample file in upstream. Since we can't currently make a downstream build we
have to document this.

[2016-06-15 06:51] satheesaran opened #99 "gdeploy section should provide an option to abort the configuration when encountered a failure"
Hi,

gdeploy should provide an option to abort the configuration, when there is a failure encountered.

I agree that some use case, may require gdeploy to continue even when there is a failure.
But certain cases doesn't seem valid when gdeploy continues post failure, and ends the system in a bad state.

For example, when the installation of vdsm fails due to some reasons, continuing with the setup

[2016-06-15 08:29] satheesaran opened #100 "add the following volume options in hc.conf"
volume requires the following options

keys - user.cifs, nfs.disable
values - off, enable

These options are required on all the volumes in hc.conf

[2016-07-01 11:10] sabose opened #107 "remove vdsm start from gdeploy/examples/hc.conf"
Remove the [service3] defintion from  gdeploy/examples/hc.conf

[service3]
action=start
service=vdsmd

[2016-07-13 18:56] mscherer commented on #50
So, if this is fixed, any reason to not close the issue ?

[2016-07-26 10:46] satheesaran opened #120 "adding channels should be done in one shot, if there are multiple channels"
While adding more channels, gdeploy adds them one by one, which takes more time.
subscription-manager repos --enable=x
subscription-manager repos --enable=y
subscription-manager repos --enable=z

Rather gdeploy could add channels in one shot
subscription-manager repos --enable=x --enable=y --enable=z

[2016-07-26 11:20] satheesaran opened #121 "start the volume post setting the volume options"
If the config file has volume section, along with 'volume options' mentioned, set all the volume options and start the volume.

[2016-08-24 09:07] sbhaloth opened #140 "Feature: Configure ctdb in a multiple interface environment"
In an environment where we have configuration as follows:

nic1 : 10.x.x.x
nic2 : 192.168.121.x (nodes, ctdb volume to be on these nics)
nic3 : 192.168.100.x (VIP, ctdb public ip to be on these nics)

The hosts entries that we mention in conf file , it does ssh via that host and create volumes using the same.
In this case we need to have entry for nodes file as well where we can mention the IP's a

[2016-08-24 09:10] sbhaloth opened #141 "Feature:Setup needed to mount the volume using smb"
There is additional setup needed to mount the volume using smb.

[2016-08-24 09:29] sbhaloth opened #142 "Errors related to rpc-statd while running samba setup from gdeploy"
ver: gdeploy-2.1.dev1-9.noarch.rpm

 On running the conf file with cifs mount following errors are seen which is related to nfs even though nfs is not enabled and running on the setup.

TASK: [Restart rpc-statd service] *********************************************
failed: [10.70.47.64] => {"failed": true}
msg: Job for rpc-statd.service failed because the control process exited with error code. Se

[2016-08-24 09:30] sbhaloth opened #143 "If mount point is already present gdeploy doesn't skip and throws error"
Ver:gdeploy-2.1.dev1-9.noarch.rpm

 If mount point is already present, it is not skipping and failing with following error:
[Create the dir to mount the volume, skips if present] ******************
failed: [10.70.47.64] => (item=/mnt/smb) => {"failed": true, "item": "/mnt/smb", "parsed": false}
Traceback (most recent call last):
OSError: [Errno 17] File exists: '/mnt/smb'

[2016-08-24 09:32] sbhaloth opened #144 "Gluster volume options set is missing from samba/ctdb setup"
When smb_enable=yes is set , there are certain volume options which needs to be set which is not present currently.
These volume options needs to be added as per admin guide.
 gluster vol set test-vol1 server.allow-insecure on
 gluster vol set test-vol1 stat-prefetch off
 gluster vol set test-vol1 storage.batch-fsync-delay-usec 0

[2016-08-24 09:35] sbhaloth opened #145 "There needs to be sleep before mounting with smb after the restart of glusterd"
vers:  gdeploy-2.1.dev1-9.noarch.rpm
When smb_enable=yes , when the glusterd vol file is edited and glusterd is restarted there needs to be a sleep before we mount the volume as we are immediately mounting so it fails sometimes.

[2016-08-24 13:08] sbhaloth opened #147 "Volume is created using bricks only from one node if multiple bricks are present in each node"
If there are multiple bricks in one server and brick path is not provided in conf file then volume gets created using all the bricks from single server.
If brick path is provided then the peer probe itself fails.

[2016-08-25 11:38] sac commented on #147
This has been fixed. Peer probe was failing because master was not being set. Commit https://github.com/gluster/gdeploy/commit/d126c061a fixes the issue.

[2016-08-29 12:44] shashankraj opened #149 "RFE: Make changes in gdeploy ganesha setup wrt shared volume changes."
Following are the new steps which needs to be taken care with the current script:

1) Once the shared volume is created, create a folder named “nfs-ganesha” inside /var/run/gluster/shared_storage
2) Copy ganesha.conf and ganesha-ha.conf from /etc/ganesha to /var/run/gluster/shared_storage/nfs-ganesha
3) and then perform gluster nfs-ganesha enable

[2016-08-30 05:53] sbhaloth opened #150 "Subscription-manager module fails with error"
After setting up backend, the subscription module fails with following error.
TASK: [Register with subscription-manager with username and password] *********
ERROR: error while evaluating conditional: yes

Ver : gdeploy-2.1.dev1-11.noarch

[2016-08-31 06:52] sac commented on #150
This was the compatibility issue between 1.x and 2.x. Fixed in master.

[2016-08-31 06:52] #150 closed

[2016-08-31 06:52] #147 closed

[2016-08-31 06:53] sac commented on #145
A 30 second pause has been added. Fixed in master.

[2016-08-31 06:53] #145 closed

[2016-08-31 07:08] sac commented on #107
Fixed in master: https://github.com/gluster/gdeploy/pull/152

[2016-08-31 07:08] #107 closed

[2016-08-31 07:08] sac commented on #144
Fixed in master.

[2016-08-31 07:08] #144 closed

[2016-08-31 07:12] sac commented on #143
This error is due to stale mount points present. Now an error is thrown anyway. This is very much
needed because, the stale mount is anyway unusable. User has to unmount it manually or either via
gdeploy. This error will be ignored by gdeploy but will not be skipped.

[2016-08-31 07:12] #143 closed

[2016-08-31 07:13] sac commented on #140
Fixed in master. Now the user can configure gdeploy with multiple interfaces by providing the data in variable: ctdb_nodes

[2016-08-31 07:13] #140 closed

[2016-08-31 07:14] sac commented on #141
Done. Fixed in master.

[2016-08-31 07:14] #141 closed

[2016-08-31 07:14] sac commented on #100
Fixed by @satheesaran merged into master.

[2016-08-31 07:14] #100 closed

[2016-08-31 07:17] sac commented on #121
@satheesaran what is the difference? Just curious. I would like to know the advantages before I fix this.

[2016-08-31 07:18] sac commented on #142
Fixed in master.

[2016-08-31 07:18] #142 closed

[2016-08-31 07:20] sac commented on #99
Commit https://github.com/gluster/gdeploy/commit/b30228d3bf2ed877e0d9cd02361fb038375a5668 fixes the issue. There are multiple commits for various checks. Documented in examples.

[2016-08-31 07:20] #99 closed

[2016-08-31 07:21] sac commented on #93
Fixed in master.

[2016-08-31 07:21] #93 closed

[2016-08-31 07:21] sac commented on #89
Master has this fix.

[2016-08-31 07:21] #89 closed

[2016-08-31 07:22] sac commented on #58
Fixed this error in master. Available in latest release.

[2016-08-31 07:22] #58 closed

[2016-08-31 08:32] sac commented on #54
Made changes as per first comment. Now if firewalld is used, gdeploy starts the daemon before applying rules.

[2016-08-31 08:32] #54 closed

[2016-08-31 08:37] sac commented on #12
Using ip address solves the problem. I will go ahead and close this issue, please re-open if the suggest does not solve the problem.

[2016-08-31 08:37] #12 closed

[2016-08-31 08:38] satheesaran commented on #99
@sac , I see the change is only under the sections [volume] and [peers].

But this is not all the requirement.
It would be good to have generic 'ignore_on_failure', underneath all sections.

Say, my can fail due to package missing, or network issues, in another case, my pv creation may fail due to bad disks, on other hand, setting up NTP may file, if /etc/ntp.conf file is not present.

So, the req

[2016-08-31 08:46] sbhaloth opened #153 "The glusterd vol file change is happening only on one node of cluster"
The option to be added /etc/glusterfs/glusterd.vol file has to be done on all the nodes of cluster.
Currently it is doing only on one node.
gdeploy-2.1.dev1-11.noarch

[2016-08-31 08:48] satheesaran commented on #121
Good question.
Take for example, If my requirement is to have a volume only with glusterfs native protocol access and I don't want NFS or CIFS, then I  will create a volume, disable nfs, disable cifs and then start the volume.

If I start the volume and then disable NFS, I have seen 2 disadvantages
1. gluster NFS service is started and then killed, which is like a unnecessary
(I know the service i

[2016-08-31 09:23] sac commented on #70
python-setuptools added to requirements.txt, now pip install -r installs python-setuptools.

[2016-08-31 09:23] #70 closed

[2016-08-31 10:20] sac commented on #153
Commit https://github.com/gluster/gdeploy/commit/2e9c14ed0c8c5c78c89fe8b784804233d14d401b fixes the issue.

[2016-08-31 10:20] #153 closed

[2016-08-31 11:52] sbhaloth opened #155 "unmount of volume after setfacl fails"
Unmount of volume after doing setfacl fails with following error.

TASK: [Unmount the volumes] ***************************************************
failed: [10.70.42.11] => (item=/mnt/smb) => {"failed": true, "item": "/mnt/smb"}
msg: missing required arguments: src,fstype

[2016-08-31 11:55] sbhaloth opened #156 "Need to provide sleep after glusterd restart before mounting the volume"
It gives errors randomly
TASK: [Mount the volumes] *****************************************************
failed: [10.70.42.11] => (item=/mnt/smb) => {"failed": true, "item": "/mnt/smb"}
msg: Error mounting /mnt/smb: Mount failed. Please check the log file for more details.

FATAL: all hosts have already failed -- aborting

[2016-08-31 12:03] sac commented on #156
Commit: https://github.com/gluster/gdeploy/commit/27ab726dce6fdd2319c5b1e3db5343e6aebf5fe0 fixes the issue

[2016-08-31 12:03] #156 closed

[2016-08-31 12:03] sac commented on #155
https://github.com/gluster/gdeploy/commit/27ab726dce6fdd2319c5b1e3db5343e6aebf5fe0 fixes the issue.

[2016-08-31 12:10] sac commented on #53
Commit: https://github.com/gluster/gdeploy/pull/158/commits/fc96e18eae5145f7fe14599773a4d80262a3548f fixes the issue.

[2016-08-31 12:10] #53 closed

[2016-08-31 12:10] sac commented on #50
Commit: https://github.com/gluster/gdeploy/pull/158/commits/2ce3f55366e5854bfa4b5215639d909589761ba8 fixes the issue.

[2016-08-31 12:10] #50 closed

[2016-08-31 12:13] sac commented on #49
This can now be enabled by setting log_path in "/etc/ansible/ansible.cfg" ... the complete cli output will be logged. We are enhancing the gdeploy log as well, which will log every operation of gdeploy.

[2016-08-31 12:13] #49 closed

[2016-08-31 13:31] shashankraj commented on #149
Other changes includes:

1) Changing the <HA_CONF_DIR> path in add node, delete node and refresh config command.

new path is /var/run/gluster/shared_storage/nfs-ganesha

2) The volume export files location is also changed and needs to be modified wherever applicable:

new path is /var/run/gluster/shared_storage/nfs-ganesha/exports/

[2016-09-01 12:38] sac commented on #149
Commit: https://github.com/gluster/gdeploy/commit/53b822743432522ff5836d16dd9da5e251a1de3b fixes the issue.

[2016-09-01 12:38] #149 closed

[2016-09-01 16:34] y0hnn commented on #53
@sac Should not it be lvm2py >= 1 ? https://pypi.python.org/pypi/lvm2py/

[2016-09-01 16:36] y0hnn commented on #70
@sac On Ubuntu, pip does not find the package :

[code]

[2016-09-02 04:40] sac commented on #53
@yohannprigent I meant the lvm2 package itself.

[sac@lisa ~]$ rpm -qa | grep lvm2
lvm2-2.02.116-3.fc22.x86_64
lvm2-libs-2.02.116-3.fc22.x86_64

Because we rely on pvcreate, vgcreate family of commands.

I'm not sure if I understand you correctly, correct me if I'm wrong.

[2016-09-02 05:51] sac commented on #70
@yohannprigent Ah! that's an issue then. I will remove that.

[2016-09-02 07:16] sac commented on #121
@satheesaran makes sense. Commit https://github.com/gluster/gdeploy/commit/2f97f312c3b64ed8b98c0ab77431def83e1cdcaa fixes the issue.

[2016-09-02 07:16] #121 closed

[2016-09-02 07:19] sac commented on #61
@satheesaran I need more context here. We set: semanage fcontext -a -t glusterd_brick_t ...
This is done if you use [backend-setup] section. Let me know if you are referring something else.

[2016-09-02 07:36] sac commented on #99
@satheesaran currently the way gdeploy works is, each section is a different entity. They do not share any data between them. We do not manage any key/value store (as of now). So, currently the solution is to provide exit option to every critical section.

For example if you think gdeploy should abort if yum does not succeed. You can limit it to yum.

I propose we keep this, and once I add key/val

[2016-09-05 19:07] y0hnn commented on #53
Of course you are, but pip is just for installing python packages, isn't it ? Because this one must be a linux dependency, not a python one.

[2016-09-06 01:36] sac commented on #53
On Tuesday 6 September 2016, Yohann Prigent notifications@github.com
wrote:

[2016-09-06 06:04] sac commented on #53
@yohannprigent thanks for pointing it out. Commit: https://github.com/gluster/gdeploy/commit/b3cb138399d2f3603cac06ec340e3b42b3f428ed should fix it.

[2016-09-06 06:05] sac commented on #53
I've updated INSTALL.md pointing users to install lvm2. However for rpm users, it is marked as a dependency.

[2016-10-13 10:36] madcatsu opened #185 "set-pcs-auth-passwd password generation should be deprecated in favour of gdeploy config file"
Hi, I noted as I was poring through the playbooks that a generic clear text password is created in the set-pcs-auth-passwd.yml via shell command.

This might be better improved by moving this variable up into the configuration file read in by gdeploy as some target environments/users would prefer to use something a little more secure at the onset.

Side note - can we also avoid using "root" for th

[2016-10-20 02:18] qrkourier opened #190 "Ansible module names collide in mount.py"
On the tip of master I was able to reproduce a failure with generated playbooks where VDSM packages had been installed. I was using gdeploy to set up oVirt+Gluster. VDSM and Ansible both vend a module named mount.py, and the VDSM version trumps the Ansible version while the Ansible version is expected by gdeploy (e.g., in gdeploy/playbooks/mount.yml). The error presenting when the VDSM module is d

[2016-10-22 18:42] Devyani-Divs opened #193 "Link is behaving as a relative path."
The 'Ansible' link in the index.rst file behaves as a relative path.

[2016-10-24 09:44] #193 closed

[2016-10-25 11:56] devyanikota commented on #62
Am looking into this issue. will work on it !

[2016-11-02 22:08] qrkourier opened #203 "IndentationError: unindent does not match any outer indentation level"
[code]

[2016-11-02 22:09] qrkourier commented on #203
This is to mark the point in the commit log where gdeploy produced the above traceback.

[code]

[2016-11-03 04:18] qrkourier commented on #203
This is to mark the last commit that does _not_ result in a traceback

[code]

And so I suspect that the following commit #198 did introduce the problem.

[2016-11-03 05:55] sac commented on #203
@qrkourier yep. That is ugly. I'm fixing it now.

[2016-11-03 06:02] nigelbabu commented on #203
@sac It's probably worth spending 5 mins to write up a Travis CI job to check pyflakes (and pep8?) before merging. What do you think?

[2016-11-03 06:03] sac commented on #203
Looks like it was always there:

commit 85eba7d35482c3ffd240bc783d95826f977201d9
Author: Sachidananda Urs sacchi@gmail.com
Date:   Wed Nov 2 07:56:59 2016 +0530

[code]

diff --git a/gdeployfeatures/ctdb/ctdb.py b/gdeployfeatures/ctdb/ctdb.py
index 5fcef96..55acbfb 100644
--- a/gdeployfeatures/ctdb/ctdb.py
+++ b/gdeployfeatures/ctdb/ctdb.py
@@ -70,5 +70,5 @@ def ctdb_setup(section_dict):

[2016-11-03 06:04] sac commented on #203
@nigelbabu yep. I will do it, that's a good suggestion. It is high time we should catch these.

[2016-11-18 13:08] qrkourier opened #221 "NameError: global name 'Global' is not defined"
I ran `sudo ANSIBLE_LIBRARY=:/root/gdeploy/modules/ GDEPLOY_TEMPLATES=/root/gdeploy gdeploy -vv --trace -c /root/gdeploy-ovirt-gluster.conf` on the tip of master.

[code]

<...snip...>
[code]

[2016-11-18 14:49] sac commented on #221
Ken, this commit has caused the error https://github.com/gluster/gdeploy/commit/97bf447b5b5511c

Importing Global has been missed out. I'll fix this. Thanks for reporting.

[2016-11-20 11:44] sac commented on #203
This issue is fixed.

[2016-11-20 11:44] #203 closed

[2016-11-20 11:44] sac commented on #221
Fixed the issue. Imported Global.

[2016-11-20 11:44] #221 closed

[2016-12-07 18:13] ShyamsundarR opened #246 "gdeploy_setup script does not handle ANSIBLE_LBRARY setting right?"
This line, https://github.com/gluster/gdeploy/blob/master/gdeploy_setup.sh#L11 reads,
echo "export ANSIBLE_LIBRARY=$ANSIBLE_LIBRARY:'$DIR/modules/'" >> ~/.bashrc

2 problems with this,
1) if $ANSIBLE_LIBRARY is not set, this generates,
DIR='/test'; echo "export ANSIBLE_LIBRARY=$ANSIBLE_LIBRARY:'$DIR/modules/'"
export ANSIBLE_LIBRARY=:'/test/modules/'
There is an unwanted ":" at the head of the exp

[2016-12-07 20:31] ShyamsundarR opened #247 "backend reset does not function as expected, possibly due to incorrect parsing"
This line in the code,
https://github.com/gluster/gdeploy/blob/master/modules/backend_reset.py#L35
"self.pvs = literal_eval(self.validated_params('pvs'))"

Seems to actually throw an exception and hence it enters the except block and marks self.pvs as None. Hence, none of the pvs are really removed. IOW, comma separated string to dict as passed to literal_eval does not seem to do the trick, and I

[2016-12-08 08:01] sac commented on #246
First issue as you said will not cause any problem. Leaving it as is.

I have enhanced this script already and is part of another branch, I will merge this to master soon.

https://github.com/gluster/gdeploy/blob/api/gdeploy_setup.sh

I've addressed the second issue of single quote now.

[2016-12-08 12:11] sac commented on #247
Ack! I will fix this.

[2016-12-08 12:27] sac commented on #247
Shyam, somehow when I test this now works in my environment. The literal_eval works as expected
self.validated_params('pvs') returns a list something like '['/dev/sda', '/dev/sdb']' which is a string and will be converted to list by literal_eval. I tested with my setup seem to work with the same configuration file you had.

Did you have a mounted filesystem?

[2016-12-09 14:32] zeichenanonym opened #250 "vg module has wrong documentation"
in https://github.com/gluster/gdeploy/blob/master/modules/vg.py the documentation is talking about options `vg_pattern` and `vg_name`, which is wrong.
`vg_pattern` is not used in the code and throws an error and `vg_name` is actually `vgname`

[2016-12-09 14:41] zeichenanonym opened #251 "thinpool chunksize configuration wrong"
According to https://github.com/gluster/gdeploy/blob/master/modules/lv.py#L268
the chunksize calculation for thin-pool in case of RAID 6 should be 256K - this is wrong.

Please consult https://access.redhat.com/documentation/en-US/Red_Hat_Storage/3.1/html/Administration_Guide/Brick_Configuration.html

[2016-12-09 15:13] sac commented on #250
Ack! Will fix this. Thanks.

[2016-12-09 15:15] sac commented on #251
Ack! Will look into this and fix.

[2016-12-12 17:52] mulbc commented on #246
could we rename the `modules` directory to `library`? That way Ansible would pick up the modules automatically without the need to set an environment variable...

[2016-12-12 17:58] ShyamsundarR commented on #247
sac, I did not have a mounted system, I guess I am reporting 2 issues, or rather debugged the first issue to possibly the literal_eval above. So, let me rephrase my problem,
- If the conf just has pvs listed, then the vgs, lvs do not get cleaned up

IOW, a conf as follows, does not remove the required groups and volumes.
[hosts]
127.0.0.5

[backend-reset:127.0.0.5]
pvs=sdb,sdc,sdd

I will retest o

[2016-12-13 11:18] sac commented on #246
@zeichenanonym we copy the playbooks to /tmp/<random-tmpdir> and generate group_vars relative to that. And gdeploy could be invoked from any directory. So, I'm not sure if this works. I'll investigate further.

[2016-12-13 11:31] sac commented on #247
Shyam, I tested the exact setup you have stated above again. It works fine with me. What is the error you see on console?

[2016-12-14 15:39] mulbc commented on #246
That sounds weird... why would you need to copy playbooks around? And even if you do, you could just copy the library folder with...

[2016-12-14 15:47] ktdreyer opened #253 "requirements.txt pins ansible to 2.1"
The Ansible team has released v2.2.0.0.

Would you please use 2.2.0.0 in `requirements.txt` ?

(It would also be great to test with the upcoming v2.2.1RC1, to ensure that works, since the Ansible team is probably going to issue that release today.)

[2016-12-15 05:54] sac commented on #246
@zeichenanonym that is because the group_vars and host_vars have to be in the same directory where playbooks reside. So, /tmp/<tmp-dir> would make it easy for us to generate the files and clean them up after the run. And the modules and others libs would be installed to standard directories.

One of the other reasons to copy the playbooks to /tmp/ is gdeploy can be run as any regular user and crea

[2016-12-15 11:36] mulbc commented on #246
isn't gdeploy installed as a rpm package? That way you can configure yourself which users are needed and which access rights it needs.

Additionally you can select a specific hosts file for your group and host variables:
[code]
Source: http://docs.ansible.com/ansible/intro_inventory.html
In the hosts file you can then define variables for hosts and groups.

Would that help you avoid copying things

[2016-12-16 10:45] nnDarshan opened #257 "[RFE] Provision gluster bricks using blivet (and/or) libstoragemgmt"
gdeploy should be able to provision gluster bricks, using tools like: [Blivet](https://github.com/rhinstaller/blivet), [libstoragemanager](https://github.com/libstorage/libstoragemgmt). While provisioning following best practices from [gluster admin guide](https://access.redhat.com/documentation/en-US/Red_Hat_Storage/3.1/html/Administration_Guide/Brick_Configuration.html)  has to be considered.

#

[2016-12-20 10:03] sac commented on #253
Commit: https://github.com/gluster/gdeploy/commit/bb00a14d245a should fix the issue.

Currently I have added version 2.2.0 will bump to 2.2.1 once ansible 2.2.1 is released.

[2016-12-20 10:03] #253 closed

[2016-12-20 11:30] sac commented on #257
@nnDarshan will blivet/libstoragemgmt be available in RHEL7 and RHEL6 default install?
Because without that it is going to be difficult for gdeploy to be used for brick management.

We can do this only after these technologies are are available in base RHEL release.

[2016-12-20 12:42] sac commented on #251
@zeichenanonym the commit: https://github.com/gluster/gdeploy/commit/2455587e365c5e7 should fix the issue, requesting a review.

[2016-12-20 19:07] juanluisvaladas commented on #61
I believe @satheesaran means if you have selinux enabled gdeploy should set the propper context unless you write a section:

[code]

Right now it won't set the context *unless* you explicitely write selinux yes.

[2016-12-20 19:15] mbukatov commented on #257
Hos is this change related to https://github.com/Tendrl/documentation/issues/49?

[2016-12-21 06:16] satheesaran commented on #61
@juanluisvaladas Thanks for getting me right. I meant the same
@sac gdeploy should set selinux=enable by default, unless its mentioned as 'no' explicitly

[2016-12-21 09:55] mulbc commented on #251
not 100%:
a) The guide states a lower-case 'k' instead of 'K' - this makes a difference in the LVM layer.
b) For the calculation you are using an undocumented variable 'diskcount', which should be supplied. If this means "total number of disks in the RAID volume" then your calculation is wrong, because only the data disks should be used for the calculation.

[2016-12-21 11:23] sac commented on #251
@zeichenanonym the guide refers in terms of KiB

Which I think is `K', correct me if I'm wrong.

Regarding the `diskcount' variable the expectation is user provides data disks, which is documented in examples: https://github.com/gluster/gdeploy/blob/master/examples/gluster.conf.sample#L275

I will document in readthedocs, also that sample configuration needs a lot of clean up I will do that.

Sorr

[2017-01-04 18:00] mulbc commented on #251
I checked with the LVM developers and you are right! K and k are both KiB for --chunksize :)

No further issues from my side, providing that `diskcount` will be documented

[2017-01-06 09:50] sac commented on #251
Thank you. I will document diskcount variable.

[2017-01-09 13:36] dpmramesh opened #275 "change the defaults for ignore_xxx_erros"
gdeploy has a config to ignore the erros. we have to specify  'ignore_xxx_erros=yes' if you want to ignore erros and  'ignore_xxx_erros=no'  if you don't want to ignore errors. Here default is  'ignore_xxx_erros=yes', which means gdeploy  will ignore all the errors by default unless we specify 'ignore_xxx_erros=no' in each section. I feel this is confusing. It is better not to ignore errors by def

[2017-01-10 10:31] kristvanbesien opened #276 "Cannot us when root login disabled."
gdeploy cannot be used when root login in disabled. Disabling root login is a common security measure that many sites enforce.
When however password less login for a non root user is available, and this user can do sudo then gdeploy ought to be able to work, as ansible can work in such an environment.

All that is probalby needed is replace:
"remote_user: root"
with
"become: true"
in all the playb

[2017-01-10 15:37] kristvanbesien opened #277 "Creating 4x2 volume doesn't work..."
I created a volume using this file:

[hosts]
gluster-{1..4}

[volume]
action=create
volname=sample3
replica=yes
replica_count=2
brick_dirs=/gluster/brick2/sample3,/gluster/brick3/sample3
force=yes

Without "force=yes" this fails.

With "force=yes" the volume created looks like this:

Volume Name: sample3
Type: Distributed-Replicate
Volume ID: b3e656ea-c4eb-4852-aa4f-e4b74f29ab0b
Status: Started
Nu

[2017-01-12 08:33] sac commented on #277
Hi,

If there is more than one brick in a node, gdeploy gets confused. The solution for this is to
mention the hosts:<brick path> in the brick_dirs variable under volume section.

[volume]
action=create
volname=foo
transport=tcp
replica_count=2
brick_dirs=<ip or host>:brick_dir,<ip or host>:brick_dir,<ip or host>:brick_dir ...

In your case:

brick_dirs=gluster-1:/gluster/brick2/sample3,gluster-2:

[2017-01-12 08:37] sac commented on #276
Thanks for this input. We had chosen to use root as gluster wanted to user to be root to work. We had not explored the sudo options. I will work on this for future releases.

[2017-01-16 21:48] ktdreyer commented on #253
2.2.1.0 was released today. Given that this fixes CVE-2016-9587, I recommend bumping ASAP.

[2017-01-16 21:50] ktdreyer opened #279 "requirements.txt should require ansible >= 2.2.1.0"
Ansible v2.2.1.0 was released today. Given that this fixes CVE-2016-9587, I recommend updating gdeploy's requirements.txt to depend on this version.

[2017-01-16 21:51] ktdreyer commented on #279
The RPM gdeploy.spec file also has `Requires:       ansible >= 2.1`, and this should be bumped

[2017-01-18 12:06] sac commented on #279
Done. Thank you for the heads up.

[2017-01-23 15:48] sandrobonazzola opened #285 "Code is not Python 3 ready"
GDeploy python code is not Python 3 ready. Please make it Python 3 ready

[2017-01-27 05:26] dpmramesh opened #288 "Remove direct dependencies on python-markupsafe, PyYAML, python-jinja2"
gdeploy 2.0.1.X has following dependencies which are not yet available in EPEL. Ansible itself has dependencies on these packages but to slightly lower versions(which is available in upstream). Can we remove this direct dependencies if ansible itself can satisfy them?

Dependencies not available in upstream:
1. python-markupsafe >= 0.23
2. PyYAML >= 3.11
3. python-jinja2 >= 2.7.3

[2017-02-07 09:11] satheesaran opened #296 "Provide flexibility to perform volume options on more than one volume for possible features"
Provide the flexibility to perform operations on more than one volume, wherever possible.
For instance, user may required to stop more than one volumes. Currently this is not possible.

Actual:
[volume]
action=[stop,start,set]
volname=volume1

Expected:
[volume]
action=[stop, start, set]
volname=volume1, volume2,volume3

[2017-02-07 09:12] satheesaran commented on #296
@sac what do you think ?

[2017-02-14 12:01] sac commented on #296
@satheesaran this is a very good idea. I will look into this.

[2017-02-14 12:03] sac commented on #61
@satheesaran ACK!

[2017-02-20 07:29] #279 closed

[2017-02-20 07:30] sac commented on #288
Commit: https://github.com/gluster/gdeploy/commit/e463787d1155d fixes the issue.

[2017-02-20 07:30] #288 closed

[2017-02-20 07:49] sac commented on #61
Commit: https://github.com/gluster/gdeploy/commit/d4a5f12ee0f resolves the issue.

[2017-02-20 07:49] #61 closed

[2017-03-02 07:51] sac opened #329 "Come up with a new package layout."
http://docs.python-guide.org/en/latest/writing/structure/

[2017-03-02 07:58] #329 closed

[2017-03-03 09:50] sac opened #331 "Expanding cluster should be more seamless."
Currently the masternode is not picked predictably. If a new node is chosen as master then disjoint clusters are formed by peer probe.

Make master node selection more predictable and allow provision for user specify masternode.

[2017-03-03 10:39] sac opened #332 "Support for all possible volume types."
Add support for all available volume types. Adding any new volume types in future should be easy.
* If the number of volumes and hosts increase, regex support should be added.

[2017-03-06 02:00] pkchuyen commented on #221
Looks like this issue is not fixed yet.

I tried to deploy gluster with gdeploy and faced the same issue

[code]

Here is the list of packages installed on my CentOS machine:

[code]

Or might I know what am i missing for this setup?
Please advice.

[2017-03-06 08:12] sac commented on #221
Hi @pkchuyen this was fixed in later releases. gluster.org is not updated yet. Meanwhile you can update your RPM from: http://thegaul.org/builds/CentOS/

[2017-03-06 15:38] pkchuyen commented on #221
Hi @sac
It now works perfectly on my end with your suggestion.
Thanks a lot.

[2017-03-07 09:57] amarts opened #335 "Need a small document for people contributing to project"
Like, what to look for first.
How to get started (links, reference videos, books etc).
Development process? (send a PR, and assign a reviewer?)

[2017-03-08 09:03] sac commented on #335
ACK!

[2017-03-09 10:48] devyanikota commented on #62
PRs #336  #338  #341 resolve this issue.
@sac can you take a look at the same, else
we can close this issue. thanks.

[2017-03-10 09:02] sac commented on #62
@devyanikota looks good. We can close this.

[2017-03-10 09:02] #62 closed

[2017-03-17 08:21] devyanikota commented on #250
PR #343 closes this issue.

[2017-03-17 08:21] #250 closed

[2017-03-22 11:16] mulbc commented on #251
Seeing that `diskcount` is now documented in the README I will close this issue

[2017-03-22 11:16] #251 closed

[2017-04-20 15:31] kristvanbesien opened #356 "backend reset should be later in the order of playbooks executed."
When I try to cleanup my experiments I do that with a small reset config.

Eg.:

[code]

This however fails, as the backend-reset is attempted first. gdeploy should first remove the volumes...

[2017-05-01 14:21] tsailiming opened #360 "base_dir missing for geo-replication"
In `georep_common_public_key.yml`, `base_url` is not defined in  `georep.py`

This causes an error:
[code]

[2017-05-06 09:44] hvisage opened #366 "Seems to fail with Centos7 & Ansible 2.3"
Hi there,

 So, busy testing/installing/etc. and was pointed last night in the direction of gdeploy. I did a quick try on Ubuntu 16.04, found some module related troubles, so I retried on Centos 7 this morning.

Seems that the playbooks aren’t 2.3 “compatible”…

The brick VMs are setup using the set-vms-centos.sh & sshkeys-centos.yml playbook from https://bitbucket.org/dismyne/gluster-ansibles/src

[2017-05-08 10:19] sac commented on #366
Commit: https://github.com/gluster/gdeploy/commit/8394634240 should fix the issue.

If you are looking at rpm. Can be found at: https://copr.fedorainfracloud.org/coprs/sac/gdeploy/build/547404/

[2017-05-08 10:20] sac commented on #366
Please reopen the issue if the build does not solve the issue.

[2017-05-08 10:20] #366 closed

[2017-06-06 00:25] johnsimcall commented on #360
This is affecting me as well.  I'm not able to use gdeploy to create geo-replication configurations.  I've tried both absolute and relative paths.  Neither works...  Is there a workaround?

[code]

[code]

[code]

[code]

[2017-06-07 05:11] johnsimcall commented on #356
I have the same problem.  I was expecting the actions to be executed similar to ansible, from top to bottom, but that is not the case.  "backend-reset" is always executed first.  This causes problems when you're trying to cleanly umount the volume, delete volume, then clean lv/vg/pvs

[2017-06-08 21:06] johnsimcall opened #370 "gluster_log_file missing for georep-session-config.yml"
Errors and failures occur when trying to modify geo-replication configuration.

[code]

[code]

[code]

[2017-06-13 11:29] nnDarshan opened #371 "Backend-setup feature for creating gluster bricks should create bricks parallelly"
If we try to create bricks on multiple nodes using backend setup feature of gdeploy, the bricks get created serially even though there are disks from different nodes. If we are trying to create many bricks it takes a lot of time to finish. we tried creating 40 bricks on 4 different nodes(10 disks/node) It took around 1 hour to finish this.

Backend-setup should create bricks in parallel.

[2017-06-16 11:45] sac commented on #356
@kristvanbesien @johnsimcall earlier there was a requirement that backend-reset had to be kept separate since it is destructive operation. And had to be run separately. However, now I see that it is more of a hindrance. I will work on getting this integrated.

[2017-06-16 11:47] sac commented on #360
@tsailiming @johnsimcall Ack! I will fix this.

[2017-06-30 11:52] mulbc commented on #276
+1 on this - this is a hard requirement and was promised to customers from the Console folks (which will rely on you to implement this)
The `become: true` method should work seamless.

Ack! Will do this, should be available for next release.

[2017-07-03 13:42] japplewhite commented on #276
@zeichenanonym a workaround is to use -u userB -b on the command line..this normally works even with playbooks written for root use. but I do agree the playbooks would ideally handle this either way. it is a deficiency in how ansible works imo

[2017-07-03 15:17] mulbc commented on #276
@japplewhite How is this ansible's fault if you specify explicitly that it should use the root user?
Will the Console use the -u and -b switch to enable non-root usage?

[2017-07-04 15:08] zeichenanonym opened #376 "Enable extents usage for thin-pools"
We should be able to define `--extents 100%FREE` when creating thinpools. ATM this is only possible for thickpools.

[2017-07-04 15:56] zeichenanonym opened #377 "Providing hosts list and simple bricks list in volume module fails"
When trying to create a volume with:

[code]

Execution fails - because there aren't enough bricks (2) to provision the volume... I got curious and found the following after debugging:

In the `append_host_name()` method of the volume module, you use `zip` to combine the hosts and the bricks into something you can execute later with `_run_command()`. This is where the main problem is, as this litt

[2017-07-04 15:59] sac commented on #376
Ack! Will add this.

[2017-07-06 17:51] ShyamsundarR opened #384 "Providing disks as in example in pv.py does not work"
In https://github.com/gluster/gdeploy/blob/master/modules/pv.py#L54 the example asks the play to provide a list of disks as disks='["/dev/sdb", "/dev/sdc"]' which if done fails as follows.

### hosts inventory (myinventory.ini) contains myhostname

### Playbook is (pvc.yml)
    ---
    - hosts: myhostname
      tasks:
      - name: Create PVs
        pv: action=create disks='["/dev/sdb", "/dev/sdc

[2017-07-07 08:26] sac commented on #384
Shyam, sorry about that. That is an outdated comment. Should have changed when we changed the behavior.

Your playbook should now look like:

[code]

Earlier we were using python's literal_eval() changed that later on but the comment stayed there.
Commit: https://github.com/gluster/gdeploy/commit/dcc812438064 fixes the issue.

[2017-07-20 09:34] sac commented on #376
Commit: https://github.com/gluster/gdeploy/pull/393/commits/9ec1c08aec fixes the issue.

[2017-07-20 11:29] sac opened #394 "Modify existing pv module to conform to ansible standards"
Current pv module needs to be changed to conform to ansible standards.

Fix:
- Documentation (online and manual page)
- Convert the existing pv playbooks to roles
- Update pvcreate, pvremove, pvchange, pvresize

pvcreate:
 - pvcreate should support the following options:
   - force (-f)
   - uuid (-u)
   - zero (-Z)
   - metadatasize
   - dataalignment

pvremove:
   - force

pvchange:
   - all

[2017-07-20 11:43] sac commented on #394
Sample invocation could be something like:

ansible rhgs-servers -m pv -a "action=create disk=sda zero=yes dataalignment=1024K"

via playbooks:

- name: Create physical volume on the given disks
  pv:   action: create disk: sda
          zero: yes

or if more than one disk

- name: Create physical volume on the given disks
  pv:   action: create disk: sda
          zero: yes
  with_items:

[2017-07-20 11:49] sac commented on #394
**DO NOT** forget to add documentation in the module. Set the DOCUMENTATION and EXAMPLES variables.

[2017-07-20 11:53] sac commented on #360
@tsailiming @johnsimcall latest master updates to gdeploy should fix this. Please find example configuration at: https://github.com/gluster/gdeploy/blob/master/examples/geo-replication.conf

You can find more example configuration files at: https://github.com/gluster/gdeploy/tree/master/examples

[2017-07-20 12:52] sac opened #395 "Modify the vg module to conform to ansible standards"
Update the existing vg module supporting actions:

- create
- remove
- extend
- convert
- reduce

vg with action=create should support the following options:

- maxlogicalvolumes
- maxphysicalvolumes
- physicalextentsize
- zero
- metadatasize
- dataalignment
- dataalignmentoffset

vg with action=extend should support options

- zero
- metadatasize
- metadataignore
- dataalignment
- dataalignmentof

[2017-07-21 12:17] sac opened #396 "Enhance the lv module and add more documentation"
Enhance the lv module to support:

**_lvcreate, lvchange, lvreduce, lvresize, lvconvert, lvextend, lvremove,  lvrename_**

_lvcreate - lv module with action=create should support the following options:_

* cachemode {passthrough|writeback|writethrough}
  Refer the admin guide for a default for cachemode
* chunksize ChunkSize[b|B|s|S|k|K|m|M|g|G]
* extents LogicalExtentsNumber[%{VG|PVS|FREE|ORIGIN}

[2017-07-21 12:27] sac commented on #396
Ensure to maintain backward compatibility.

[2017-07-21 12:50] sac opened #397 "Merge the volume-set module with gluster_volume"
Currently we have volume-set module, which is quite confusing, merge it with gluster_volume volume.

[2017-07-21 12:58] sac opened #398 "Rename the volume module and enhance it"
Rename the volume module to glusterfs_volume (remember to symlink to volume.py so as not to break the backward compatibility for a few releases)

Enhance the glusterfs_volume module, should support the following features:

* volume  add-brick
* volume  attach-tier
* volume  barrier
* volume  bitrot
* volume  clear-locks
* volume  create
* volume  delete
* volume  detach-tier
* volume  geo-replicat

[2017-07-21 13:07] sac opened #399 "Merge the geo_rep module into gluster_volume module"
Currently geo-replication is a separate module, merge that into the gluster_volume module explained in issue #398

[2017-07-21 13:10] sac opened #400 "Merge the quota module into gluster_volume module"
GlusterFS quota module. Which will facilitate the quota operations on GlusterFS. Move the quota module into gluster_volume module explained in issue #398

[2017-07-21 13:12] sac opened #401 "Merge the snapshot module into gluster_volume"
GlusterFS snapshot module to help snapshot operations on GlusterFS. Merge the existing snapshot module into gluster_volume.

[2017-07-21 13:14] sac opened #402 "Rename peer module to gluster_peer"
The module name peer is quite generic, rename it to gluster_peer. And enhance it by adding more comments and documentation.

[2017-08-01 16:36] fbalak opened #407 "Wrong exit code when executing gdeploy with invalid configuration file"
gdeploy called with invalid configuration file prints error message:
[code]
but exit code of executed command is 0. Exit code should be > 0.

Reproducer:
[code]

Tested with gdeploy 2.0.1 on CentOS Linux 7

[2017-08-01 16:44] fbalak opened #408 "No error message when called with non-existent feature"
gdeploy called with configuration file that contains non-existent feature (in reproducer it is `aaa`) returns no error message and exit code `0`. There should be some error message when called invalid file and exit code should be > 0.

Reproducer:
[code]

Tested with gdeploy 2.0.1 on CentOS Linux 7

[2017-08-09 10:20] smitthakkar96 opened #416 "Issue while running it on mac"
Below is the traceback of the error I am getting

[code]

[2017-08-11 16:26] mbukatov opened #422 "Specify list of hosts in separate inventory file"
It's not possible to keep list of gluster servers and gluster configurations separate.

## Current state

List of gluster machines is placed in a `[hosts]` section in gdeploy config file like this:

[code]

Example comes from [Write a config file to do the backend setup](https://gdeploy.readthedocs.io/en/latest/backend-setup.html)

So that everything is specified in a single file, which is passed

[2017-08-11 16:26] mbukatov commented on #422
Does this feature make sense or do I miss something?

[2017-08-11 16:39] mbukatov opened #423 "Full setup from clean machine fails because of unexpected order of operations"
When I have `yum`, `service` sections to install and start gluster server, then `peer` to create *trusted storage pool* and finally `backend-setup` section in gdeploy config file, gdeploy fails during execution, because it will try *Create Physical Volume* first (when the gluster is not yet installed) and fail.

## Steps to reproduce

1. Prepapre set of clean CentOS 7 machines (with base system an

[2017-08-11 16:41] mbukatov commented on #423
It seems that the workaround could be to separate operations into multiple gdeploy config files, but for that, I would like to [keep the list of gluster servers in separate file](https://github.com/gluster/gdeploy/issues/422).

[2017-08-11 17:27] mbukatov commented on #423
Does this bug report make sense wrt gdeploy design?

[2017-08-11 17:38] mbukatov opened #424 "Brick directory is not created"
When I use `[backed-setup]` feature to setup gluster bricks, brick directories are not created.

## Version

gdeploy-2.0.2-7.noarch (from sac-gdeploy copr)

## Steps to Reproduce

1. Create trusted storage pool out of few clean CentOS 7 machines
2. Create gluster config file to setup gluster bricks there:

[code]

3. Run gdeploy: `gdeploy -c gluster_volume.conf`
4. Inspect the storage configuratio

[2017-08-13 13:28] siddharthvipul commented on #402
https://github.com/gluster/gdeploy/pull/425
Please review

[2017-08-14 07:21] sac commented on #423
Martin it does. The initial design once upon a time was to do backend-setup first, irrespective of whereever it was listed in the config file. However it does not make sense anymore now after the development of yum and other sections. We have to change gdeploy to follow the order listed in the config file.

[2017-08-15 17:45] smitthakkar96 opened #426 "TASK [Clean up filesystem signature] fails"
While I try to run 2x2-volume-create.conf present in examples it runs into error and below is traceback.

Traceback
[code]

[2017-08-15 20:18] ShyamsundarR opened #427 "backend_reset from a play does not work as intended?"
[code]

The above play does not remove the said PV, when the PV is present (additional VG,LV, mounts being present or not does not make a difference.

Changing the with_items as follows also does not help,
[code]
[code]
[code]
or changing pvs to,
[code]
also fails

The issue seems to stem from the literav_eval as pointed in the issue #247 which evaluates the end self.pvs to None, and hence nothing

[2017-08-16 13:27] devyanikota commented on #426
@smitthakkar96 hello. Can you tell us which version of gdeploy have you installed.

[2017-08-16 18:10] smitthakkar96 commented on #426
gdeploy 2.0

[2017-08-17 11:56] sac commented on #427
Hi @ShyamsundarR the backend-rest works for me. These are the variables used in group_vars/all :

[code]

And this is the playbook:

[code]

[2017-08-17 12:00] sac commented on #426
@smitthakkar96 I just tested it works fine for me.
[sac@dhcp35-44 tmpMkiHFL]$ rpm -qa | grep gdeploy
gdeploy-doc-2.0.2-13.noarch
gdeploy-2.0.2-13.noarch

Can you share your config file? I would like to take a look. Or maybe use the exact config file.

[2017-08-17 12:05] sac commented on #427
@ShyamsundarR this worked too:

[code]

[2017-08-17 12:33] sac commented on #424
@mbukatov the current design is the brick_dirs are passed to gluster as is. And gluster takes care of creating brick directories. gdeploy creates only mount points.

The reason is, since gluster already takes care of creating brick directories we did not want to do the redundant work.

[2017-08-18 07:50] mbukatov commented on #424
@sac Ok, thanks for the explanation. But I'm still little puzzled about the meaning of `brick_dirs=` option in backend setup. What is it's meaning now when gluster handles this job? Should we remove it from the documentation? Also I would expect gluster to create those directories during setup of volume (gluster is now aware of any brick until one specify which bricks are part of a volume), right?

[2017-08-18 07:59] sac commented on #424
@mbukatov you are right about `brick_dirs=` option being a confusion in backend_setup section. So, initially we had brick_dirs in backend-setup and when `[volume]` section was mentioned it would use this information to create a volume.

And as the project evolved we moved the brick_dirs to `[volume]` section and left the variable in [backend-setup] too to be backward compatible. However, the mista

[2017-08-23 17:40] Daniel-Pivonka opened #434 "example 2x2-volume-create-without-backend-setup.conf does not work"
Error: brick_dirs should be a directory inside mountpoint(/gluster/brick2).
Make sure relative paths for all the 2 mountpoints are given separately. Exiting!

the example seems to be missing the "mountpoints=...." line

[2017-08-30 23:24] mtridici opened #436 "Unable to create the gluster volume using gdeploy but backend is ok"
Hi all,

I'm trying to deploy a distributed disperse volume 2x(4+2) using gdeploy. Everything seems to work ok: backend is created, pvs, vgs, lvs and bricks but something was wrong during volume creation.
So I cannot start the volume and so on...
As you can see from the following output there is an error during this step.
Anyway, If I use the "gluster volume create" command specifying the same bri

[2017-08-31 11:43] sac commented on #436
@mtridici if you are using the gluster-volume-create.yml directly you have to ensure that you set the variables right. Can you share your variables file?

[2017-08-31 11:56] mtridici commented on #436
Hi @sac , thank you very much for your reply.
In attachment you can find 3 files:
- the gdeploy configuration file (disperse_2x4+2.conf)
- the variables file (groupvar_all.txt)
- the output of "gluster volume info" command after volume creation (using gluster volume create command)

Thank you in advance.
[disperse_2x4+2.txt](https://github.com/gluster/gdeploy/files/1266911/disperse_2x4.2.txt)
[gro

[2017-08-31 12:04] sac commented on #436
@mtridici thanks. @devyanikota will look into this and get back to you.

[2017-08-31 12:04] mtridici commented on #436
I would add another info that could be useful: usually I execute gdeploy with -k option and, if something goes wrong, I change directory in /tmp/tmpblabla and I run ansible-playbook manually to "debug" the yml code. The gluster-volume-create.yml  should read the variables that gdeploy previuosly set... if I understand...

[2017-08-31 12:05] mtridici commented on #436
@sac thank you very much for your support!

[2017-08-31 12:30] sac commented on #436
@mtridici that is right, gluster-volume-create.yml should have worked. @devyanikota worked on a similar issue recently. She will help you debug the issue.

[2017-09-02 12:31] mtridici commented on #436
I see that @devyanikota self-assigned this task :-) many thanks to all of you. I will wait for some news. Have a good week-end

[2017-09-05 09:52] devyanikota commented on #436
Hi @mtridici good $time_of_the_day.
You can change the 'action' field to 'create', instead of 'mount', in your group_var/all file.
I have pasted my:
[group_vars/all](https://paste.opensuse.org/22865003) file,
[distributed-disperse.yml](https://paste.opensuse.org/58531707) file, and
output of [gluster_volume_info](https://paste.opensuse.org/74592695).
Hope this helps :)

[2017-09-05 10:26] mtridici commented on #436
Hi @devyanikota, thank you very much for your support.
Anyway, I'm sorry but I don't understand how I can "translate" your suggestion in "gdeploy configuration file changes" :-)
When I executed "gdeploy -vv -k -c dist_disperse_2x4+2.txt, backend is ok, but volume creation is not created (in attachment dist. disperse config file); what I have to change in my config file in order to create the volum

[2017-09-05 13:15] devyanikota commented on #436
Hi, @mtridici I provided info about changing the 'action' field in the ansible playbook with respect to your comment1 :)
I tried creating a distributed-disperse volume using the gdeploy config file, it works for me.
You can change the format of the mount-points in your configuration file, where you are appending the hostname along with the path of the mount point. You needn't do that!
For example:

[2017-09-05 16:34] mtridici commented on #436
Hi @devyanikota,

you're right! :-) mea culpa! I'm a newbie and I'm creating a little bit of confusion. I hope you can forgive me. Unfortunately, I made the changes you kindly suggested but the problem still occurs.
I'll try to explain in a better way what I'm doing, why and the issue that I'm experiencing.

That's exactly the sequence of actions:

1) download and installation of gdeploy (master v

[2017-09-06 07:47] sac commented on #434
Ack! Commit https://github.com/gluster/gdeploy/commit/9d845f8d2 fixes the issue.

[2017-09-06 08:18] mtridici commented on #436
Hi @devyanikota,

thanks to your support, I detected the cause of the strange behaviour: an hidden character in the "volume" section was creating the issue. So, I deleted and recreated the volume section applying also the changes you suggested (no hostname added to the mountpoint path).
Now, the gdeploy script works (you can find it in attachment)! :-)
If possible, could you please check the scrip

[2017-09-06 09:45] devyanikota commented on #436
Hey @mtridici glad to know that the config file worked for you :)
I checked the script but I haven't worked much with the performance of volumes,
I think the [gluster mailing list](https://lists.gluster.org/mailman/listinfo) would be a good place for this question. You can drop a mail to either gluster-users or gluster-devel.
Hope this helps.

[2017-09-26 08:18] mbukatov commented on #423
When I think about it, trying to adhere to the ordering specified in gdeploy config file could be problematic for these reasons:

* all current gdeploy config files are written with gdeploy ignoring the order in mind, so that changing that could break lot of gdeploy scripts
* gdeploy config file is a ini file, and module from python standard library doesn't care about order of the items in ini fil

[2017-10-03 07:31] sac commented on #436
@mtridici if your issue is resolved, we can close this one?

[2017-10-03 07:31] #434 closed

[2017-10-03 07:32] sac commented on #434
@Daniel-Pivonka closing the issue. Please re-open if you think we need further fix.

[2017-10-03 07:53] sac commented on #408
@fbalak this behavior is because we have some ad-hoc sections present from very early releases.
Documented at:
https://github.com/gluster/gdeploy/blob/master/gdeploylib/call_features.py#L52

This is a valid issue though. Once we rework and remove those sections, I will fix this.

[2017-10-03 08:20] mkudlej opened #445 "restore snapshot fails"
I've created snapshot with
[code]
then I've added and removed some files in volume
```volume_usmqe_alpha_distrep_6x2``` and I've would like to restore
snapshot ```snap_alpha1``` with
[code]
but it failed with this error
[code]

I use ```gdeploy-2.0.2-7.noarch``` from
```https://copr-be.cloud.fedoraproject.org/results/sac/gdeploy/epel-7-$basearch/```

[2017-10-03 09:06] sac commented on #407
Fixed in master:

https://github.com/gluster/gdeploy/blob/master/gdeploylib/helpers.py#L84

Is available in latest upstream release too.

[2017-10-03 09:06] #407 closed

[2017-10-03 09:10] mtridici commented on #436
@sac yes, my issue has been solved, so you can close it. thanks to everyone.

[2017-10-03 12:35] sandrobonazzola opened #446 "Ensure gdeploy works with ansible 2.4.0.0"
oVirt 4.1.z has glusterfs 3.8 as supported version and is going to have ansible 2.4.0.0 inherited from Fedora / EPEL / CentOS PaaS SIG.
Please check gdeploy still works with ansible 2.4.0.0, I don't expect regression, but just to be sure

Originally opened as https://bugzilla.redhat.com/show_bug.cgi?id=1494159

[2017-10-09 11:23] sandrobonazzola opened #448 "Please use sane versioning"
Please use sane versioning. I would suggest to follow http://semver.org/ but any other versioning system is fine. Please stop using negative numbers in version schema.
Example: v2.0.2-14 is not a good versioning, it's a version + a packaging release which is fine for an rpm, not for a software version.
With an upstream version like v2.0.2-14 a downstream rpm shoudl look like gdeploy-2.0.2_14-1.fc2

[2017-10-23 09:46] #436 closed

[2017-11-01 12:05] nixpanic commented on #448
@sac and I discussed this as well. I hope the next release will be versioned 2.0.3, without any additional postfixes.

[2017-11-01 14:53] lghamie commented on #446
Any workaround for this? I'm trying the ovirt-node installation and i'm unable to use it because of this issue.

[2017-11-01 17:06] sac commented on #446
Some of the modules imported here: https://github.com/gluster/gdeploy/blob/master/gdeploylib/helpers.py#L51 are missing in Ansible 2.4.0 however except for a misleading message: https://github.com/gluster/gdeploy/blob/master/gdeploylib/helpers.py#L59 things should work fine.

[2017-11-01 17:07] sac commented on #448
@nixpanic Ack!

[2017-11-02 18:17] lghamie commented on #446
ok, thanks!

[2017-12-26 22:32] hetzbh opened #472 "simple example?"
Hi,

I like the examples in the folder, however, IMHO another example is needed, something which I'm sure many users will do for test:

Scenario:
* 2 nodes, with 1 extra disk unformatted (/dev/vdb for example) while VDA holds the OS
* probe, create a volume (lets call it: demo) on the vdb on both nodes
* create NFS mount for volume demo

Thats it.

What do you think?

[2017-12-27 10:16] sac commented on #472
Hi,

On Wed, Dec 27, 2017 at 4:02 AM, hetzbh <notifications@github.com> wrote:

That is a good idea, I will add that or please send a PR.

-sac

[2017-12-27 11:51] hetzbh commented on #472
PR==??

[2018-01-02 13:23] sac commented on #472
Pull request. I meant if you have already written an example you could send a pull request.

[2018-01-02 13:24] hetzbh commented on #472
Oh, I was hoping that if you could write one, I'll be learning from it and I'll be happy to contribute samples after I play with it ;)

[2018-01-04 18:09] japplewhite opened #473 "Add Active Directory configuration for Samba"
I would like to be able to configure active directory support during Samba setup. It should probably have fields / variables for
**Query Account** -the account that is used to query Active Directory. The account should contain the domain name, either in the format of DOMAIN\user or in the format of user@domain.example.com.
**Query Password**
Enter the account password.
**Administrator Group**
Ente

[2018-01-23 01:22] sankarshanmukhopadhyay commented on #473
It would be good to include a link to how this is currently done in a human intervention manner. That would help understand the clear separation of declarative actions from the outcomes.

[2018-01-23 05:32] sankarshanmukhopadhyay opened #477 "Use chrony(d) in place of ntpd for configuration of NTP services"
At present gdeploy uses ntpd to setup, configure and start/stop NTP services. Considering the fact that various RPM based distributions are switching over to chrony, it would be necessary to check what this means for gdeploy

[2018-01-30 20:05] johnsimcall commented on #276
+1, it would help me a lot if gdeploy could leverage sudo

[2018-02-01 09:10] kristvanbesien commented on #384
In that case the paremeter should read "disk" and not "disks".
Using "disks" here is confusing.

[2018-02-05 13:21] devyanikota commented on #277
@kristvanbesien hello. Would you please take a minute and let us know if this issue is resolved.
Were you able to create a 4x2 volume by making changes as suggested above?
(we are cleaning up the backlog bugs in gdeploy).
Thank you.

[2018-02-05 13:33] devyanikota commented on #397
@ramkrsna @sankarshanmukhopadhyay I have added the 3.0 Label to the issues that were targetted for gdeploy v3.0.
Will be migrating them to the gluster-ansible repository, and then closing them.

[2018-02-05 13:35] devyanikota commented on #247
@ShyamsundarR hello. Is this issue still reproducible?
Please confirm the same. Thanks.

[2018-02-05 13:58] kristvanbesien commented on #277
I've actually stopped using gdeploy and am doing everything with my own ansible playbooks. So you can close this as far as I am concerned.

[2018-02-05 15:03] devyanikota commented on #277
ah! that's sad :(
Also, we are working on gluster-ansible repository where we are trying to keep gluster-specific roles here[1], you can take a look if that helps.
Am closing this issue. Thank you.
[1] https://github.com/gluster/gluster-ansible

[2018-02-05 15:03] #277 closed

[2018-02-05 19:22] devyanikota commented on #402
We are migrating roles to gluster-ansible, and consuming them from gluster/gadmin and others.
Hence, closing this issue against [gluster/gluster-ansible#13](https://github.com/gluster/gluster-ansible/issues/13)

[2018-02-05 19:23] #402 closed

[2018-02-08 09:26] ramkrsna opened #478 "[FutureFeature] gdeploy needs to support adding nodes to existing cluster."
- Adding Nodes to an existing cluster is presently unavailable via gdeploy.

[2018-02-09 13:32] devyanikota opened #479 "Fails to set up a geo-replication session using gdeploy."
Downstream RFE BZ [1], [2].
[1] https://bugzilla.redhat.com/show_bug.cgi?id=1475724
[2] https://bugzilla.redhat.com/show_bug.cgi?id=1511491

[2018-02-15 12:23] devyanikota opened #481 "[RFE] Expansion of a cluster."
When one attempts to expand a cluster using peer-probe[1], with an existing volume in the cluster, though the node gets added, it stays out of sync with the cluster.
Output[2] of:
`$ gluster peer status`
This[3] might be a possible resource for this issue.

[1] https://github.com/gluster/gdeploy/blob/master/examples/peer-probe.conf
[2] https://paste.opensuse.org/36476054
[3] http://gluster-documen

[2018-02-20 06:12] ramkrsna commented on #478
Can be done through the peer probe module

[2018-02-20 06:12] #478 closed

[2018-02-25 15:22] devyanikota commented on #401
Closing this, as it will be handled in the new design of gluster-ansible under Gluster.infra role.

[2018-02-25 15:22] #401 closed

[2018-02-25 15:24] devyanikota commented on #400
Closing this, as it will be handled in the new design of gluster-ansible under Gluster.infra role.

[2018-02-25 15:24] #400 closed

[2018-02-25 15:26] devyanikota commented on #397
Closing this, as it will be handled in the new design of gluster-ansible under Gluster.infra role.

[2018-02-25 15:26] #397 closed

[2018-02-25 15:26] devyanikota commented on #399
Closing this, as it will be handled in the new design of gluster-ansible under Gluster.infra role.

[2018-02-25 15:26] #399 closed

[2018-02-25 15:29] devyanikota commented on #332
Closing this, will add as RFE in the new design of gluster-ansible volume management.

[2018-02-25 15:29] #332 closed

[2018-02-25 15:32] devyanikota commented on #331
Closing this, will add as RFE in the new design of gluster-ansible cluster management.
Under Gluster.infra or Gluster-upgrade.

[2018-02-25 15:32] #331 closed

[2018-02-25 15:34] devyanikota commented on #296
@satheesaran Closing this for now, will handle the same in the new design of gluster-ansible volume management. Thanks.

[2018-02-25 15:34] #296 closed

[2018-02-25 15:43] devyanikota commented on #398
Will keep this issue marked as 'enhancement', this RFE will be handled in the new design of gluster-ansible under Gluster.infra role.
This issue can be thought of as the container issue for the new design of gluster_volume, where we handle the operation to be performed by using the 'action'/'state' variable.

[2018-02-25 15:43] #398 closed

[2018-02-25 15:47] devyanikota commented on #396
Closing this, as it will be handled in the new design of gluster-ansible under Gluster.infra role.

[2018-02-25 15:47] #396 closed

[2018-02-25 15:47] devyanikota commented on #395
Closing this, as it will be handled in the new design of gluster-ansible under Gluster.infra role.

[2018-02-25 15:47] #395 closed

[2018-02-25 15:47] devyanikota commented on #394
Closing this, as it will be handled in the new design of gluster-ansible under Gluster.infra role.

[2018-02-25 15:47] #394 closed

[2018-02-26 08:18] devyanikota commented on #384
Closing this, in favor of sac's comment. Will add it as RFE to use 'disk' instead of 'disks' to avoid possible confusion in the future versions.

[2018-02-26 08:18] #384 closed

[2018-02-26 08:20] devyanikota commented on #120
Closing this for now. Will add it as an RFE for future versions in the new design.

[2018-02-26 09:39] devyanikota opened #482 "[RFE] Provide flexibility to set CPUQuota for slice"
To create glusterfs slice, slice_setup=yes option could be used 'service' section with 'glusterd' service. But this sets the CPUQuota to the default value of 400%

[2018-02-26 09:40] devyanikota opened #483 "Change xfs settings when vdo volume is used."
Use these xfs settings for XFS in RHHI, so that XFS handle conditions when VDO runs out of physical space.

echo 4 | tee /sys/fs/xfs/dm-13/error/metadata/ENOSPC/max_retries
echo 4 | tee /sys/fs/xfs/dm-13/error/metadata/EIO/max_retries

[2018-02-26 09:41] devyanikota opened #484 "Manual creation of thinpools fail when no size specified."
During manual creation of PVs, VGs and thin pools. gdeploy was failing until  size was added to the thinpool sections.  The docs indicate that the size option should be optional.

[2018-02-26 09:43] devyanikota opened #485 "gdeploy fails to properly create backend with specified values."
Backend setup using gdeploy does not seem to work. On the first attempt (with fresh disks) it failed with "Calculated size of logical volume is 0 extents. Needs to be larger."

[2018-02-26 09:44] devyanikota opened #486 "grafton sanity check script unable to copy tmp files."
When tried to run script
/usr/share/gdeploy/scripts/grafton-sanity-check.sh -d drive -h IP1,IP2,IP3 from deploying host, it complains:

scp: /tmp/*_host_ip_YYYY_MM_DD.txt: No such file or directory
scp: /tmp/*_host_ip_YYYY_MM_DD.txt: No such file or directory

When edited deployment parameters and removed this whole section for this script (I know, that target devices are clean), then gluster depl

[2018-02-26 09:44] devyanikota opened #487 "grafton sanity script doesn't really validate the reachability of the machine IP"
grafton sanity script validates 2 things currently
1. Whether the machines are reachable from the master node
2. Whether the disks contain any partition table.

If any of the above is true, then script should fail. But this validation doesn't really work correctly.

[2018-02-27 06:46] sankarshanmukhopadhyay commented on #479
@ramkrsna you'll probably have to file a bug to ask for merge rights on this repository. https://bugzilla.redhat.com/enter_bug.cgi?product=GlusterFS&component=project-infrastructure

[2018-03-05 13:07] #479 closed

[2018-03-13 11:07] devyanikota opened #488 "Unable to set VDO writepolicy to auto"
Using gdeploy,unable to set the writePolicy of VDO volume to 'auto'. Gdeploy allows the value of 'sync' & 'async' for writePolicy
Expected results: gdeploy should allow setting the value of writePolicy as 'auto'

[2018-03-13 11:08] devyanikota opened #489 "gdeploy peer module not probing 'master' host by FQDN"
The node given for the 'master' value as a FQDN appears in the 'gluster pool list' output with its short hostname and no alias is present in the peer config.
Expected results:
The 'master' node should appear in the 'gluster pool list' with its FQDN for consistency in node-to-node communication.

[2018-03-13 11:09] devyanikota opened #490 "gdeploy doesn't use "all vg storage" as default size when creating LV"
Actual results:

  TASK [Create LVs with specified size for the VGs] ****************************************************************************************************
failed: [node] (item={u'lv': u'some_thinpool', u'size': u'', u'extent': u'100%FREE', u'vg': u'some_vgname'}) => {"failed": true, "item": {"extent": "100%FREE", "lv": "some_thinpool", "size": "", "vg": "some_vgname"}, "msg": "  No

[2018-03-16 15:57] baoboa opened #492 "rpm build from source"
For sanity the INSTALL.md file should provide instruction about how to build rpm package from source of the git repo and from the spec file provided.

It could be done in a different file like INSTALL_rpm.md

If possible, it would allow automatic build in fedora copr or other automated build infra.

[2018-03-18 05:38] johnsimcall commented on #484
Looks like this is resolved here https://github.com/gluster/gdeploy/issues/376#issuecomment-316651019

[2018-03-18 08:46] johnsimcall commented on #484
I looked some more tonight...  If the thinpool does not have a size given, it will use the maximum size allowed by the VG.  However, the thinlv must have a "virtualsize" parameter given.  This seems strange because the code seems to want to allow it to be optional (which would be very convenient!)

modules/lv.py on lines 231-232
[code]

but it's prevented because of gdeployfeatures/lv/lv.py on lin

[2018-04-09 13:29] devyanikota commented on #485
This issue was opened to track a downstream bug[1]. This issue was reproducible when the locale was set to en_DK.
It is expected the LANG is set to en_US (export LANG=en_US) before running gdeploy.
[1] BZ #1529770

[2018-04-09 13:29] #485 closed

[2018-04-09 13:33] devyanikota commented on #482
Commit [#16eb1](https://github.com/gluster/gdeploy/pull/493/commits/5d950e6fbc7fdd218284a0f26100c5e995e16eb1) fixes this issue.

[2018-04-09 13:33] #482 closed

[2018-04-12 14:21] ramkrsna commented on #488
https://github.com/gluster/gdeploy/pull/497 tries to resolve the issue.  This needs to be installed with ansible-2.5 / ansible-engine-2.5 and above.

[2018-04-13 10:16] devyanikota commented on #488
Merged #497 . Closing this issue.

[2018-04-13 10:16] #488 closed

[2018-05-02 09:53] ramkrsna commented on #483
https://github.com/gluster/gdeploy/pull/505 Closes the issue.

[2018-05-02 09:53] #483 closed

[2019-03-02 16:18] shukapoo commented on #416
Any idea how to get rid of this? I am also getting same error

[2019-10-11 18:34] adampl commented on #12
@sac But how can I migrate existing volume from the initial network to the other?

[2019-10-13 06:35] sac commented on #12
@adampl that part is not covered in gdeploy.

[2020-02-27 06:51] pkesavap opened #544 "Unable to create multiple vgs using gdeploy-3.0.0"
The gdeploy branch 3.0.0 is unable to create multiple vgs in the same backend setup, i have attached the conf file and the ansilbe-output file. It was unable to create pv, but instead of ',' when given space it worked fine.
[OUTPUTFILE][op.txt](https://github.com/gluster/gdeploy/files/4259900/op.txt)
[CONF FILE][gdeploy2.txt](https://github.com/gluster/gdeploy/files/4259909/gdeploy2.txt)

[2020-03-02 15:04] sac commented on #544
The conf file is wrong. The vgs, pvs, and any other value has to be comma separated. Please restest with changes.

[2020-03-02 15:54] pkesavap commented on #544
Hey @sac , it was tested with proper conf file with commas as mentioned, still the problem existed
The problem was it was not properly parsing and looping across the list of items passed, because in 3.0.0,  when there was a line which erases __name__ from list it threw an exception, because "__name__" was not there in the first place, and since this exception was not properly handled, other method

[2020-03-02 16:40] gobindadas commented on #544
Prajit can you please add the eaxample of conf file which was failing?

[2020-03-02 16:44] gobindadas commented on #544
@sac Here is the conf file which was failing

The following conf file was failing
[Hosts]
host.hostname.com
[backend-setup]
devices=/dev/sdb,/dev/sdc
vgs=vg0,vg1
pools=pool0,pool1
lvs=lv0,lv1
brick_dirs=/bricks/brick0,/bricks/brick1

[2020-03-04 06:27] gobindadas commented on #544
As scratch build is working as expected, so merging this.

[2020-04-22 07:33] pkesavap commented on #544
fixed the issue

PR:https://github.com/gluster/gdeploy/pull/545

[2020-04-22 07:33] #544 closed

[2020-10-21 15:21] kshithijiyer opened #557 "Add issue and PR template to the project."

[2022-09-22 16:41] #190 closed